.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: white;
}

.header__logo {
    margin-left: 48px;
}
.header__search {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header__searchContainer {
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 4px;
    width: 375px;
}

.header__searchContainer > input {
        background-color: transparent;
        border: none;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        color: white
}

.header__searchContainer > input:focus {
    outline: none
}

.header__menuItems {
    margin-left: 48px;
}

.header__menuItems > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0 10px;
}

.header__menuItems > a:hover {
    color: #5AC53B;
    
}
